body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.8em;
  color: #666;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navigation */
.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #282e34;
  position: absolute;
  z-index: 1;
}

.topnav .brand {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0;
  padding: 0;
}

.topnav a {
  z-index: 2;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #f4f4f4;
  color: black;
}

.barnav {
  overflow: hidden;
  background-color: #282e34;
  display: ms-grid;
  display: grid;
  ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.barnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.barnav a:hover {
  background-color: #f4f4f4;
  color: black;
}

/* Image Stying */
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.pimg1 {
  background-image: url(https://source.unsplash.com/pazM9TQJ2Ck);
  min-height: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.pimg1:hover {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.pimg2 {
  background-image: url(https://source.unsplash.com/Oaqk7qqNh_c);
  min-height: 400px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.pimg2:hover {
  -webkit-filter: blur(4px) grayscale(100%);
  filter: blur(4px) grayscale(100%);
}

.pimg3 {
  background-image: url(https://source.unsplash.com/3y1zF4hIPCg);
  min-height: 400px;
}

.pimg4 {
  background-image: url(https://source.unsplash.com/pRZVCSTqje4);
  min-height: 400px;
}

/*Section classes*/
#tab1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #232323;
}

#tab2, #tab3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #f3f3f3;
}

.section {
  text-align: center;
  padding: 0 80px;
  display: grid;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

/* grid */
.coursegrid {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.cardgrid {
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background-color: #282e34;
  color: white;
}

.cardinfo {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  width: auto;
}

.cardimage {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.cardimage:hover {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.progress {
  font-style: oblique;
  color: #007bff;
}

#aboutMe {
  text-align: left;
}

.aboutHead {
  background-color: #f2f2f2;
  width: 95%;
  text-align: right;
  font-weight: normal;
  font-size: 25px;
  color: #282e34;
}

/* coding */
.codejoke {
  position: absolute;
  top: 75%;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  letter-spacing: 6px;
  border-radius: 16px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.wtext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.w2text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-style: italic;
}

/* spans and titles */
.ptext .border {
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.trans {
  background-color: transparent
}

/* media */
@media(max-width:568px) {
  .topnav {
    z-index: 2;
    font-size: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20%;
  }

  .topnav .brand {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .topnav a {
    z-index: 2;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }

  .pimg1 {
    height: 100%;
    top: 0;
    left: 0;
  }

  .cardimage {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  #tab1, #tab2, #tab3 {
    text-align: left;
  }

  #tab2 {
    margin: 0, 10px;
  }

  .aboutHead {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
  }

  .aboutLi {
    font-style: italic;
    padding: 0;
  }

  #aboutMe {
    text-align: left;
  }

  .codejoke {
    display: none;
  }

  .coursegrid {
    display: grid;
    grid-template-columns: auto;
  }

  .barnav a {
    font-size: 14px;
    padding: 10px 0;
  }

  .section {
    padding: 0 5px;
  }
}